# Library Streamlit
streamlit>=1.30.0

# Library STT (Speech-to-Text) - Faster Whisper sangat direkomendasikan
# Faster Whisper memerlukan PyTorch, tapi Torch sudah disertakan dalam requirements-nya
git+https://github.com/SYSTRAN/faster-whisper.git

# Library Pemrosesan Audio/Video
moviepy # Penyebab error Anda
pydub
librosa
noisereduce

# Library Text & NLP (untuk Cleaning dan Confidence Score)
sentence-transformers
scikit-learn
nltk
fuzzywuzzy
python-Levenshtein

# Library Tambahan (Penting untuk Dependensi Sistem MoviePy/Librosa)
numpy
scipy
pandas