streamlit
# Pydub menggantikan Moviepy untuk ekstraksi audio (lebih ringan)
pydub 
librosa
noisereduce

# Gunakan paket Whisper standar (openai-whisper) untuk STT
openai-whisper

sentence-transformers
scikit-learn
nltk
fuzzywuzzy
python-Levenshtein
pillow
